*{
    margin: 0;
    padding: 0;
}
.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left{
    margin-left: 0.5em;
    
}
h1{
    font-size: 180px;
    font-weight: lighter;
}
.indent{
    margin-left: 10%;

}
span{
    background-color: red;
}
p{
    margin-top: 2em;
    font-size: 60px;
}
.links{
    display: flex;
    margin-top: 5em;
    justify-content: center;
}
.button{
    background-color: white;
    cursor: pointer;
    margin: 2em 1em 0 0;
    font-size: 40px;
    border: none;
    border-bottom: red 1px solid;
}
@media(max-width: 1252px){
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .button{
        margin: 0.5em;
    }
    .links{
        margin-top: 0.1em;
        flex-direction: column;
    }
    img{
        display: none;
    }
    h1{
        font-size: 100px;
    }
    p{
        font-size: 30px;
    }
}